.bannerContainer{
    background-color: #bf6800;
    color: white;
    font-size: small;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

@media screen and (max-width: 400px){
    .bannerContainer{
        height: 45px;
    }
}