.bannerContainer {
  /* background-color: #311c15; */
  background-color: #00407c;
  color: white;
  font-weight: 600;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 37px;
}

@media only screen and (max-width: 933px) {
  .bannerContainer {
    display: none;
  }
}

.contactLinks {
  width: 40%;
  display: flex;
  justify-content: center;
}

.contactLink {
  margin-left: 10px;
  margin-right: 10px;
}
